.card {
  flex: 0 0 auto;
  width: 500px;
}

.cardBody {
  max-height: 200px;
  overflow-y: auto;
}

.imageContainer {
  width: 500px;
  max-height: 400px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
